@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,700&family=Inter&family=Yeseva+One&display=swap");
body {
  background-color: #f4e6e9;
}

.container {
  width: calc(100% - 6rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: minmax(1rem, 5vw) min-content 1fr min-content minmax(1rem, 5vw);
      grid-template-rows: minmax(1rem, 5vw) -webkit-min-content 1fr -webkit-min-content minmax(1rem, 5vw);
      grid-template-rows: minmax(1rem, 5vw) min-content 1fr min-content minmax(1rem, 5vw);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.container > * {
  width: 100%;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: 90vh (100vh)[3] 90vh;
      grid-template-rows: 90vh repeat(3, 100vh) 90vh;
}

main > * {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__txt,
.visit__txt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
}

.home__image,
.visit__image {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
}

.about__image,
.contact__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.about__txt,
.contact__txt {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
}

h1,
h2,
h3 {
  font-family: "Yeseva One", cursive;
  color: #570014;
}

h1 {
  font-size: calc(max(2rem,3.5vw));
  font-weight: 400;
}

p {
  font-size: calc(max(1.1rem,1.3vw));
  font-weight: 400;
}

.menu h2,
.visit h2 {
  text-align: center;
}

.home h2,
.about h2,
.contact h2 {
  text-align: left;
}

p {
  font-family: "EB Garamond", serif;
  color: #ce4051;
}

button,
li {
  font-family: "Inter", sans-serif;
}

button {
  color: #f4e6e9;
  font-size: calc(max(1rem,1.5vh));
}

ul {
  list-style-type: none;
  font-size: calc(max(1.1rem,1vw));
}

li,
.iconify {
  color: #570014;
}

.item__name, .item__cc {
  color: #f4e6e9;
}

.item__desc {
  color: #a51232;
}

.divider {
  border: none;
  border-bottom: 0.1rem solid rgba(206, 64, 81, 0.5);
}

*::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
}

*:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
}

*::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
}

*::placeholder {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2%;
}

.header__logo {
  width: 7%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__socials {
  margin: auto 0;
}

.home__header {
  margin-bottom: 2%;
}

.home__para {
  margin-bottom: 8%;
  padding-right: 7%;
}

.menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visit__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.visit__content > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.nav {
  margin: auto 0;
}

.nav__list, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: clamp(2rem, 2vw, 4rem);
}

.nav__list > *:hover, .menu__list > *:hover {
  font-weight: 600;
  cursor: pointer;
}

button {
  border: none;
  background-color: #a51232;
  border-radius: 5vw;
  width: calc(max(10rem,25%));
  height: calc(max(3.5rem,7vh));
  -webkit-transition-property: border,background-color,color;
  transition-property: border,background-color,color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

button:hover {
  background-color: #f4e6e9;
  color: #a51232;
  border: 0.1rem solid #a51232;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
