@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,700&family=Inter&family=Yeseva+One&display=swap");
.grid {
  background: #f6f6f6;
  width: 100%;
  padding: calc(max(1%,1rem));
  min-width: 25rem;
}

.row, .subrow {
  background: #bfbfbf;
  padding: inherit;
}

.subrow {
  background: #5b5b5b;
}

.col {
  background: #8c8c8c;
}

.pc {
  display: none;
}

body {
  background-color: #f4e6e9;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: calc(max(1%,10px));
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(5rem, 10vh) 1fr minmax(5rem, 10vh);
      grid-template-rows: minmax(5rem, 10vh) 1fr minmax(5rem, 10vh);
  row-gap: 20px;
}

.row, .subrow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.col {
  grid-column: span 4;
}

.subrow {
  grid-column: span 4;
}

header .col {
  grid-column: span 2;
}

main.row, main.subrow {
  -ms-grid-rows: (90vh)[5];
      grid-template-rows: repeat(5, 90vh);
}

@media screen and (orientation: landscape) {
  .row, .subrow {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .col {
    grid-column: span 6;
  }
  header .col {
    grid-column: span 6;
  }
  footer .col {
    grid-column: span 4;
  }
  .subrow {
    grid-column: span 12;
  }
  .subrow__header {
    grid-column: span 12;
  }
  .mb {
    display: none;
  }
  .pc {
    display: block;
  }
}
