@media screen and (orientation: landscape) {
  //Grid
  .row {
    grid-template-columns: repeat(12, 1fr);
  }

  .col {
    grid-column: $s6;
  }

  header .col {
    grid-column: $s6;
  }

  footer .col {
    grid-column: $s4;
  }

  .subrow {
    grid-column: $full-pc;

    &__header{
          grid-column: $full-pc;
    }
  }

  //Display
  .mb{
    display:none;
  }

  .pc{
    display:block;
}
}
