.nav {
  margin: auto 0;

  &__list--pc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(2rem, 2vw, 4rem);

    & > *:hover {
      font-weight: $semibold;
      cursor:pointer;
    }
  }
}
