.visit {
  grid-template-rows: min-content 1fr; 

  & > *:not(.visit__header){
    justify-self: center;
  }

  &__header{
    // grid-column: 1 / 11;
  }

  &__txt {
    // grid-column:2 / 4;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    // gap:5vh;
    text-align: center;
  }

  &__image{
    // grid-column:5 / 10;
  }

  &__address{
    font-style: normal;
  }

  h3{
    padding-bottom:3%;
  }
  
}
