body {
  background-color: $lpink;
}

.container {
  width: calc(100% - 6rem);
  padding-top: 1%;
  @extend %center-margin;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(1rem, 5vw) min-content 1fr min-content minmax(1rem, 5vw);
  column-gap: 2rem;

  & > * {
    width: 100%;
  }
}

header,
footer {
  display: flex;
  align-items: center;
  grid-column: 1 / 13;
}

main {
  grid-column: 2/12;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5,90vh);

  & > * {
    grid-column: 1 / 11;
    display: grid;
    gap: inherit;
    grid-template-columns: inherit;
  }

  & > *:not(.menu) {
    justify-content: center;
    align-items: center;
  }
}

.about,
.visit,
.contact,
.menu {
  &__header {
    margin-bottom: 4%;
  }
}

.about,
.contact {
  &__image {
    grid-column: 1 / 5;
  }

  &__txt {
    grid-column: 6 / 10;
  }
}
