body {
  background-color: $lpink;
}

.container {
  // width: calc(100% - 6rem);
  // grid-template-columns: repeat(12, 1fr);
  padding-top: 1%;
  @extend %center-margin;
  display: grid;
  grid-template-rows: minmax(1rem, 5vw) min-content 1fr min-content minmax(1rem, 5vw);
  column-gap: 2rem;

  & > * {
    width: 100%;

  }
}

header,
footer {
  display: flex;
  align-items: center;
  // grid-column:
}

main {
  // grid-column:
  display: grid;
  grid-template-rows: repeat(5, 90vh);
  // grid-template-columns: repeat(10, 1fr);
  gap: 2rem;

  & > * {
    // grid-column:
    display: grid;
    gap: inherit;
    grid-template-columns: inherit;

    h2,h3{
      // @extend %border;
      margin-bottom: 4%;
    }
  }
  
}

.divider {
  border: none;
  border-bottom: 0.1rem solid rgba($redpink, 0.5);
  // grid-column: ;
}

