h1,
h2,
h3 {
  font-family: $header;
  color: $dred;
}
h1{
  font-size: $h1;
  font-weight: $med;
}

h2{

}

h3{

}

p{
  font-size: $p;
  font-weight: $med;
}

.menu,
.visit {
  h2 {
    text-align: center;
  }
}

.home,
.about,
.contact {
  h2 {
    text-align: left;
  }
}

p {
  font-family: $subtext;
  color: $redpink;
}

button,
li {
  font-family: $component;
}

button{
  color:$lpink;
  font-size:$button;
}

ul {
  list-style-type: none;
  font-size: $nav;
}

li,
.iconify {
  color: $dred;
}

.item {
  &__name, &__cc {
    color: $lpink;
  }

  &__desc {
    color: $mred;
  }
}

.divider {
  border: none;
  border-bottom: 0.1rem solid rgba($redpink, 0.5);
}

*::placeholder{
  font-family: $component;
}