h1,
h2,
h3 {
  font-family: $header;
  color: $dred;
  font-weight: $med;
}
h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size:$h3;
}

p {
  font-size: $p;
  font-weight: $med;
}

.menu,
.visit {
  h2 {
    text-align: center;
  }
}

.home,
.about,
.contact {
  h2 {
    text-align: left;
  }
}

p {
  font-family: $subtext;
  color: $redpink;
}

.btn,
li {
  font-family: $component;
}

.btn {
  color: $lpink;
  font-size: $button;
}

ul {
  list-style-type: none;
  font-size: $nav;
}

li,
.iconify {
  color: $dred;
}

.item {
  &__name,
  &__cc {
    color: $lpink;
  }

  &__desc {
    color: $mred;
  }
}

.divider {
  border: none;
  border-bottom: 0.1rem solid rgba($redpink, 0.5);
  grid-column: 1 / 13;
}

*::placeholder {
  font-family: $component;
  color:rgba($redpink, 0.7);
  font-size:$input;
}
