//Color
$dred:hsl(346, 100%, 17%);
$mred:hsl(347, 80%, 36%);
$redpink:hsl(353, 59%, 53%); 
$pink:hsl(356, 100%, 84%);
$lpink:hsl(347, 39%, 93%);

//Font
$header: 'Yeseva One', cursive;
$subtext: 'EB Garamond', serif;
$component: 'Inter', sans-serif;

//Weights
$med:400;
$semibold:600;
$bold:700;

//Sizes