//Color
$dred:hsl(346, 100%, 17%);
$mred:hsl(347, 80%, 36%);
$redpink:hsl(353, 59%, 53%); 
$pink:hsl(356, 100%, 84%);
$lpink:hsl(347, 39%, 93%);

//Font
$header: 'Yeseva One', cursive;
$subtext: 'EB Garamond', serif;
$component: 'Inter', sans-serif;

//Weights
$med:400;
$semibold:600;
$bold:700;

//Sizes
$h1:calc(max(2.2rem,3vw));
$h2:calc(max(2rem,2.8vw));
$h3:calc(max(1.7rem,1.7vw));
$p: calc(max(1.1rem,1.3vw));
$input:calc(max(1rem,1vw));
$button:calc(max(1rem,.7vw));
$nav:calc(max(1rem,1vw));